@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.header {
  display: flex;
  justify-content: left;
  align-items: left;
}

.side1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  color: #44a947;
  font-weight: 700;
  padding: 20px 0px 50px 50px;
}

/* Header content responsive */
@media screen and (max-width: 980px) {
  .side2 img {
    width: 350px;
  }

  .header {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .side1 {
    font-size: 35px;
  }

  .header {
    flex-direction: column;
  }

  .header .side1 {
    padding: 30px;
  }
}

/* section */

.content .title {
  width: 80%;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  font-family: "Amiri", serif;
  color: #44a947;
  margin-top: 20px;
}

.title {
  direction: rtl;
  margin-bottom: 30px;
  margin-right: 150px;
}

.about .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 70px 0px 50px 50px;
}

.about .boxes .box {
  margin: 10px 20px;
  width: calc(100% / 3 - 50px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
}

.topic p {
  color: #626262;
  font-size: 16px;
}
@media (max-width: 767px) {
  .about .boxes .box {
    width: 100%;
  }
}
/* Contact Page */

.contact {
  padding: 20px;
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0px;
}

.contactMenu {
  display: flex;
  justify-content: space-evenly;
}

.input2 {
  margin-top: 10;
}

.label1 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bolder;
}

.contactMenu .input1 input {
  border-radius: 13px;
  padding: 6px;
}

.input2 input {
  border-color: rgb(252, 244, 244);
  width: 400px;
}

.button {
  margin-top: 12px;
  margin-left: 5px;
}

.button button:hover {
  background-color: #8cc099;
}

button {
  width: 162px;
  height: 35px;
  border-radius: 12px;
  border-color: transparent;
}

button:hover {
  background-color: #8cc099;
}

.rightside1 {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
}

.title1 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.content1 {
  width: 450px;
  margin-top: 2px;
  color: grey;
}

.header-icon {
  padding: 15px;
}
