*{
    direction: rtl;
    text-align: right;
    outline: none;
    text-decoration: none !important;
}
/* end glopal */
header.login {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
header.login  img {
    width:1300px
}
header.login  h1 {
    color: #4E9D63;
}
form.login input {
    border: 1px solid #A2A2A2;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    width: 100%;
}
form.login ::placeholder {
    font-size: 15px;
    color: #A2A2A2;
}
form.login .form-group {
    position: relative;
}
form.login .form-group svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #A2A2A2;
} 
form.login .abtn{
    background: #59A36D;
    color: white;
    border:none;
    padding: 10px;
    display: inline-block;
}
form.login a
{
    color: #59A36D;
}
.form-label{
    border: 2px solid #59A36D;
    padding: 10px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-weight: bold;
    transition-delay: 0.3s;
    transition: 0.5s;
}
.form-label::before{
    content:"";
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #59A36D;
    top: 0;
    left: -100%;
    transition: 0.5s;
    z-index: -1;
}
.form-label:hover{
    color: white;
}
.form-label:hover::before{
    left: 0;
}
/* end login paage ///////////////////////////////////// */
.cats {
    min-height: 100vh;
    background-size: cover; 
    background-image: url("./assets/msg1246182069-95768.jpg"); 
}
.cats .item {
    padding:20px;
    border: 1px solid #A2A2A2;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100%;
}
.cats .item p.count {
    font-weight: bold;
    border:2px solid #59A36D;
    border-radius: 50%;
    width:50px;
    height:50px;
    line-height:50px;
    text-align: center;
}
.cats .item p
{
    margin-bottom: 10px;
    color:#59A36D;
}
/* end categories paage ///////////////////////////////////// */
.signup {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-image: url("./assets/msg1246182069-95768.jpg");
}
.details_btns button
{
    background: #BFD0A6;
    border:none;
    border-radius: 10px;
    padding: 15px;
}
.fa-eye,.fa-eye-slash {
    left:10px !important;
    right: auto !important;
    cursor: pointer;
}
.category_name {
    border:2px solid rgb(95, 156, 100);
    border-radius: 3px;
    padding:10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 50px ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 30px auto;
    
}
.words{
    
    width: 200px;
    text-align: center;
    margin: 20px auto;
}

.words h2{
    color: #0db63a;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
}
.words h2:hover{
    transform: scale(1.2);
    background-color: #0db63a;
    color: white;
}